   <div class="modal-dialog" style="display: inline-block; width: auto;">
            <div class="modal-content">
                <div class="modal-header text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="updateRoleModalLabel">更新角色</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="updateRoleName">角色名</label>
                            <input type="text" class="form-control" id="updateRoleName" btvd-type="mail" btvd-class='btvdclass' btvd-err="data-邮箱格式不正确！">
                        </div>
                        <div class="form-group">
                            <label for="updateRoleRemark">角色描述</label>
                            <input type="text" class="form-control" id="updateRoleRemark" btvd-type="mail" btvd-class='btvdclass' btvd-err="data-邮箱格式不正确！">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-success" id="updateRole">添加</button>
                </div>
            </div>
        </div>

        <script>
            $(function() {
                var data = $("#roleList").bootstrapTable("getSelections")[0];
                $("#updateRoleName").val(data.name);
                $("#updateRoleRemark").val(data.remark);
                $("#updateRole").on("click", function() {
                    var obj = new Object();
                    data.name = $("#updateRoleName").val();
                    data.remark = $("#updateRoleRemark").val();
                    $.ajax({
                        url: '${basePath}/auth/role/updateRole',
                        data: data,
                        method: 'post',
                        dataType: 'json',
                        complete: function(jqXHR, textStatus) {
                            $("#updateRoleModal").modal("hide");
                        }
                    });
                });
            });
        </script>