<ol class="breadcrumb" style="margin-bottom:2px;">
    <li><a href="#">首页</a>
    </li>
    <li><a href="#">组织管理</a>
    </li>
    <li class="active">基本信息</li>
</ol>
<!-- Modal -->
<div class="modal fade text-center" id="addOuModal"></div>
<div class="modal fade text-center" id="updateOuModal"></div>
<div id="toolbar" class="btn-group">
    <input class="form-" type="text" placeholder="搜索" style="float:left" id="searchBox" />
    <button type="button" class="btn btn-default" id="search" style="margin-left:5px;">
        <i class="glyphicon glyphicon-search"></i>
    </button>
    <button type="button" class="btn btn-default" id="save">
        <i class="glyphicon glyphicon-floppy-save"></i>
    </button>
    <button class="btn btn-default" id="add" data-backdrop="false" data-url="${basePath}/ou/addOuView" href="#addOuModal" data-toggle="modal">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
    <button class="btn btn-default" id="edit" data-backdrop="false" data-url="${basePath}/ou/updateOuView" href="#updateOuModal" data-toggle="modal">
        <i class="glyphicon glyphicon-edit"></i>
    </button>
    <button type="button" class="btn btn-default" id="delete">
        <i class="glyphicon glyphicon-remove-circle"></i>
    </button>
</div>
<table id="ouList" data-toggle="table" data-cache="false" data-url="${basePath}/ou/getOuList?search" data-sort-name="ouName" data-sort-order="desc" data-show-header="true" data-show-refresh="true" data-show-columns="true" data-pagination="true" data-side-pagination="server" data-page-size="20" data-page-list="[10,20]" data-height="520" data-show-export="true" data-toolbar="#toolbar" data-show-paginationSwitch="true" data-pagination-detail-h-align="left" data-pagination-h-align="right" data-click-to-select="true">
    <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="id" data-visible="false">id</th>
            <th data-field="ouName" data-sortable="true" data-editable="false">组织名称</th>
            <th data-field="startTime" data-sortable="true">开始日期</th>
            <th data-field="endTime" data-sortable="true">失效日期</th>
            <th data-field="createTime" data-sortable="true" >创建日期</th>
            <th data-field="creater" data-sortable="true">创建人</th>
            <th data-field="updateTime" data-sortable="true">更新日期</th>
            <th data-field="updater" data-sortable="true">更新人</th>
        </tr>
    </thead>
</table>

<script>
    $(function() {
        $("#search").on("click", function() {
            search();
        });
        function search() {
            var $table = $("#ouList");
            var searchText = $("#searchBox").val();
            $.post("${basePath}/ou/getOuList", {
                search: searchText,
                limit: 10,
                offset: 0,
                order: "desc",
                sort: 'ouName'
            }, function(res) {
                $table.bootstrapTable("getOptions").pageNumber = 1; //默认排序从第一页开始
                $table.bootstrapTable('load', res);
            });
        }
        $("#ouList").on('sort.bs.table', function(name, order) {
            $(this).bootstrapTable("getOptions").pageNumber = 1; //默认排序从第一页开始
            console.info($(this).bootstrapTable("getOptions"))
        });
        
        //添加组织
        $("#add").on("click",function(){
		    $("#addOuModal").load($(this).attr("data-url"));
		    $('#addOuModal').on('hidden.bs.modal', function (e) {
			  search();
			})
        });

        //更新用户
        $("#edit").on("click", function() {
            var data = $("#ouList").bootstrapTable("getSelections");
            if (data.length > 1||data.length<1) {
                new $.flavr({
                    animateEntrance: "rollIn",
                    animateClosing: "rollOut",
                    content: '请选择一条记录',
                    autoclose: true,
                    timeout: 3000
                });
                $('#updateOuModal').modal({backdrop:false});//去掉蒙板
                return;
            }else{
                $("#updateOuModal").load($(this).attr("data-url"));
			    $('#updateOuModal').on('hidden.bs.modal', function (e) {
				   search();
				});
            }
        });
        
        $("#delete").on("click", function() {
            var datas = $("#ouList").bootstrapTable("getSelections");
            var ids = "";
            var i = 0;
            if (datas.length < 1) {
                new $.flavr({
                    animateEntrance: "rollIn",
                    animateClosing: "rollOut",
                    content: '请选择一条记录',
                    autoclose: true,
                    timeout: 3000
                });
                return;
            }
            for (i = 0; i < datas.length; i++) {
                ids += datas[i].id + ",";
            }
            
            $.ajax({
                url: '${basePath}/ou/deleteOu?ids=' + ids,
                method: 'post',
                dataType: 'json',
                complete: function(jqXHR, textStatus) {
                    search();
                }
            });
        });
    });
     $("#ouList").bootstrapTable({
       height:$(window).height()-140
    });
</script>