body {
    background-color: transparent;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.bg-white-only {
    background-color: #fff;
}
.box-shadow {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.navbar span {
	display:-moz-inline-box; /* css注释：for ff2 */ 
    display:inline-block; 
    height:auto;
    padding-left:10px;
    padding-right:10px;
    min-width:50px;
    text-align:center;
    cursor: pointer;
}
.navbar span:hover{
	background-color:#F6F8F8;
}


.badge, .label {
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.badge.bg-light, .label.bg-light {
    text-shadow: none;
}
.badge {
    background-color: #cfdadd;
}
.badge.up {
    margin-left: -15px;
    padding: 3px 6px;
    position: relative;
    top: 7px;
}
.badge-sm {
    font-size: 55%;
    padding: 2px 4px !important;
}
.label-sm {
    padding-bottom: 1px;
    padding-top: 0;
}
.badge-white {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.35);
    padding: 2px 6px;
}
.badge-empty {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: inherit;
}
.text-center-xs {
    text-align: center;
}
.text-left-xs {
    text-align: left;
}
.text-right-xs {
    text-align: right;
}
.no-border-xs {
    border-width: 0;
}
.pull-none-xs {
    float: none !important;
}
.pull-right-xs {
    float: right !important;
}
.pull-left-xs {
    float: left !important;
}
.bg-danger {
	background-color: red;
}