<nav class="navbar box-shadow bg-white-only " role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand " href="#">HR-ADMIN</a>
    </div>
    <div style="margin-right:40px;float:left;line-height:50px;">
        <span>
           <i class="fa fa-dedent fa-fw"></i>
        </span>
        <span>
           <i class="icon-user fa-fw"></i>
        </span>
        <span class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Message 
                <b class="caret"></b>
             </a>
			  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">English</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Chniese</a></li>
			  </ul>
			
       </span>
       <span class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                To-List 
                <b class="caret"></b>
             </a>
			  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">English</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Chniese</a></li>
			  </ul>
			
       </span>
    </div>
    <div style="margin-right:40px;float:right;line-height:50px;">
        <span class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Chniese 
                <b class="caret"></b>
             </a>
			  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">English</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Chniese</a></li>
			  </ul>
			
       </span>
        <span>
          <i class="fa fa-expand fa-fw text"></i>
       </span>
        <span>
          <i class="icon-bell fa-fw"></i>
          <i class="badge badge-sm up bg-danger pull-right-xs" style="background-color:red;">2</i>
       </span>
        <span>Tao.liang&nbsp;<b class="caret"></b>&nbsp;
           <img  src="${basePath}/static/img/a0.jpg" alt="..." class="img-circle">
       </span>
       
    </div>
</nav>