<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>HR-ADMIN</title>
    <link href="${basePath}/static/css/style.css" rel="stylesheet">
    <link href="${basePath}/static/css/bootstrap.css" rel="stylesheet">
    <link href="${basePath}/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="${basePath}/static/css/simple-line-icons.css" rel="stylesheet">
    <link href="${basePath}/static/css/layout.css" rel="stylesheet">
    <script src="${basePath}/static/js/jquery.min.js"></script>
    <script src="${basePath}/static/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/hr/static/img/favicon.ico" />
    <link href="${basePath}/static/css/bootstrap-table.css" rel="stylesheet">
    <link href="${basePath}/static/css/bootstrap-table-editable.css" rel="stylesheet">
    <script src="${basePath}/static/js/bootstrap-table.js"></script>
    <script src="${basePath}/static/js/bootstrap-table-zh-CN.js"></script>
    <script src="${basePath}/static/js/dateFormat.js"></script>
    <script src="${basePath}/static/js/bootstrap-table-editable.js"></script>
    <script src="${basePath}/static/js/bootstrap-editable.js"></script>  
    <script src="${basePath}/static/js/bootstrap-table-export.js"></script>
    <script src="${basePath}/static/js/tableExport.js"></script>
    <link href="${basePath}/static/css/animate.css" rel="stylesheet">
    <link href="${basePath}/static/css/flavr.css" rel="stylesheet">
	<script src="${basePath}/static/js/flavr.js"></script>
	<script src="${basePath}/static/js/jquery.datetimepicker.js"></script>
	<link href="${basePath}/static/css/jquery.datetimepicker.css" rel="stylesheet">
	<script src="${basePath}/static/js/jquery.nicescroll.js"></script>
    <script src="${basePath}/static/jcheckbox/js/jquery-labelauty.js"></script>
    <link href="${basePath}/static/jcheckbox/css/jquery-labelauty.css" rel="stylesheet">
    <script src="${basePath}/static/js/bt-validate.js"></script>
    <script src="${basePath}/static/js/md5.min.js"></script>
    <link href="${basePath}/static/z-tree/css/metro.css" rel="stylesheet">
    <script src="${basePath}/static/z-tree/jquery.ztree.all-3.5.min.js"></script>
</head>
      #parse("${header_path}")
      <div style="position:absolute">
           #parse("${left_path}") 
      </div>
      
      <div style="margin-left:161px;margin-right:6px;font-family:'微软雅黑'">
            #parse("${content_path}")
      </div>
       <div class="footer">版权所有:LCore 2015</div>
       <script>
        $("html").niceScroll({  
			cursorcolor:"#eee",  
			cursoropacitymax:1,  
			touchbehavior:false,  
			cursorwidth:"6px",  
			cursorborder:"5",  
			cursorborderradius:"5px"  
        }); 
    </script>
</body>
</html>