<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>HR-ADMIN</title>
    <link href="${basePath}/static/css/style.css" rel="stylesheet">
    <link href="${basePath}/static/css/bootstrap.css" rel="stylesheet">
    <link href="${basePath}/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="${basePath}/static/css/simple-line-icons.css" rel="stylesheet">
    <script src="${basePath}/static/js/jquery.min.js"></script>
    <script src="${basePath}/static/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/hr/static/img/favicon.ico" />
</head>
        #parse("${header_path}")
        #parse("${left_path}") 
        #parse("${content_path}")
</body>
</html>