<div class="leftsidebar_box">
    <center>
        </br>
        <img  src="${basePath}/static/img/a0.jpg" alt="..." class="img-circle">
        相关简介信息
        </br>
    </center>
    <dl class="system_log">
        <dt >首页概览<img src="${basePath}/static/img/left/select_xl01.png"></dt>
    </dl>
    <dl class="system_log">
        <dt >组织管理<img src="${basePath}/static/img/left/select_xl01.png"></dt>
        <dd class="first_dd"><a href="${basePath}/ou/list">充值记录</a>
        </dd>
        <dd><a href="#">短信充值记录</a>
        </dd>
        <dd><a href="#">消费记录</a>
        </dd>
        <dd><a href="#">操作记录</a>
        </dd>
    </dl>

    <dl class="custom">
        <dt >客户管理<img src="${basePath}/static/img/left/select_xl01.png"></dt>
        <dd class="first_dd"><a href="#">客户管理</a>
        </dd>
        <dd><a href="#">试用/成交客户管理</a>
        </dd>
        <dd><a href="#">未成交客户管理</a>
        </dd>
        <dd><a href="#">即将到期客户管理</a>
        </dd>
    </dl>

    <dl class="channel">
        <dt>人员管理<img src="${basePath}/static/img/left/select_xl01.png"></dt>
        <dd class="first_dd"><a href="#">渠道主页</a>
        </dd>
        <dd><a href="#">渠道标准管理</a>
        </dd>
        <dd><a href="#">系统通知</a>
        </dd>
        <dd><a href="#">渠道商管理</a>
        </dd>
        <dd><a href="#">渠道商链接</a>
        </dd>
    </dl>

    <dl class="app">
        <dt >薪酬管理<img src="${basePath}/static/img/left/select_xl01.png"></dt>
        <dd class="first_dd"><a href="#">App运营商管理</a>
        </dd>
        <dd><a href="#">开放接口管理</a>
        </dd>
        <dd><a href="#">接口类型管理</a>
        </dd>
    </dl>

    <dl class="cloud">
        <dt>合同管理</dt>
        <dd class="first_dd"><a href="#">平台运营商管理</a>
        </dd>
    </dl>

    <dl class="syetem_management">
        <dt>绩效管理<img src="${basePath}/static/img/left/select_xl01.png"></dt>
        <dd class="first_dd"><a href="#">后台用户管理</a>
        </dd>
        <dd><a href="#">角色管理</a>
        </dd>
        <dd><a href="#">客户类型管理</a>
        </dd>
        <dd><a href="#">栏目管理</a>
        </dd>
        <dd><a href="#">微官网模板组管理</a>
        </dd>
        <dd><a href="#">商城模板管理</a>
        </dd>
        <dd><a href="#">微功能管理</a>
        </dd>
        <dd><a href="#">修改用户密码</a>
        </dd>
    </dl>


    <dl class="statistics">
        <dt>统计分析<img src="${basePath}/static/img/left/select_xl01.png"></dt>
        <dd class="first_dd"><a href="#">客户统计</a>
        </dd>
    </dl>

</div>


<script type="text/javascript">
    $(".leftsidebar_box dt").css({
        "background-color": "#fff"
    });
    $(".leftsidebar_box dt img").attr("src", "${basePath}/static/img/left/select_xl01.png");
    $(function() {
        $(".leftsidebar_box dd").hide();
        $(".leftsidebar_box dt").click(function() {
            $(".leftsidebar_box dt").css({
                "background-color": "#fff"
            })
            $(this).css({
                "background-color": "#97D2A6"
            });
            $(this).parent().find('dd').removeClass("menu_chioce");
            $(".leftsidebar_box dt img").attr("src", "${basePath}/static/img/left/select_xl01.png");
            $(this).parent().find('img').attr("src", "${basePath}/static/img/left/select_xl.png");
            $(".menu_chioce").slideUp();
            $(this).parent().find('dd').slideToggle();
            $(this).parent().find('dd').addClass("menu_chioce");
        });
    })
</script>