<style>
    .ctable {
        border: 0px;
    }
    .ctable tr {
        border: 0px;
    }
    .ctable td {
        text-align: right;
        padding: 5px;
        border: 0px;
    }
</style>
<div class="modal-dialog" style="display: inline-block; width: auto;">
    <div class="modal-content">
        <div class="modal-header text-left">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="addModuleModalLabel">添加模块</h4>
        </div>
        <div class="modal-body">
            <table class="ctable">
                <tr>
                    <td>
                        <label for="addModuleName">模块名</label>
                        <input type="text" id="addModuleName">
                    </td>
                    <td>
                        <label for="addName">名称(国际化)</label>
                        <input type="text" id="addName">
                    </td>
                    <td>
                        <label for="addModuleParent">父模块</label>
                        <input type="text" id="addModuleParent">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="addModuleTarget">Target</label>
                        <input type="text" id="addModuleTarget">
                    </td>
                    <td>
                        <label for="addIndexNum">序号</label>
                        <input type="text" id="addIndexNum">
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
            <button type="submit" class="btn btn-success" id="addModule">确定</button>
        </div>
    </div>

</div>

<script>
    $(function() {
	
	    $("#addModuleParent").combobox({
		        url:'${basePath}/auth/module/getModuleListDropDown',
		        valueField: 'id',
		        textField: 'moduleName',
		        panelMaxHeight: 360,
		        panelHeight: 'auto',
		        height: 30,
		        width: 155
	    });
        $("#addModule").on("click", function() {
            var obj = new Object();
            obj.moduleName = $("#addModuleName").val();
            obj.name = $("#addName").val();
            obj.target = $("#addModuleTarget").val();
            obj.parentId = $("#addModuleParent").combobox("getValue");
            obj.indexNum = $("#addIndexNum").val();
            $.ajax({
                url: '${basePath}/auth/module/addModule',
                data: obj,
                method: 'post',
                dataType: 'json',
                complete: function(jqXHR, textStatus) {
                    $("#addModuleModal").modal("hide");
                }
            });
        });
    });
</script>