   <div class="modal-dialog" style="display: inline-block; width: auto;">
            <div class="modal-content">
                <div class="modal-header text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="addModuleModalLabel">添加模块</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="addUserName">用户名</label>
                            <input type="text" class="form-control" id="addUserName" btvd-type="mail" btvd-class='btvdclass' btvd-err="data-邮箱格式不正确！">
                        </div>
                        <div class="form-group">
                            <label for="addUserPassword">密码</label>
                            <div class="input-group">
                                <input type="text" value="6666" class="form-control" id="addUserPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="addGender" data-labelauty="男" value="male" checked="checked">
                            <input type="radio" name="addGender" data-labelauty="女" value="female">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-success" id="addUser">添加</button>
                </div>
            </div>
        </div>

        <script>
            $(function() {
                $(':input[name=addGender]').labelauty();
                $("#addUser").on("click", function() {
                    var obj = new Object();
                    obj.userName = $("#addUserName").val();
                    obj.password = md5($("#addUserPassword").val());
                    obj.gender = $("input[name='addGender']:checked").val();
                    $.ajax({
                        url: '${basePath}/auth/module/addUser',
                        data: obj,
                        method: 'post',
                        dataType: 'json',
                        complete: function(jqXHR, textStatus) {
                            $("#addModuleModal").modal("hide");
                        }
                    });
                });
            });
        </script>