<ol class="breadcrumb" style="margin-bottom:2px;">
    <li><a href="#">首页</a>
    </li>
	<li><a href="#">权限管理</a>
    </li>
    <li><a href="#">模块管理</a>
    </li>
    
</ol>

<!-- Modal -->
<div class="modal fade text-center" id="addModuleModal"></div>
<div class="modal fade text-center" id="updateModuleModal"></div>
<div id="toolbar" class="btn-group">
    <button type="button" class="btn btn-default" id="save">
        <i class="glyphicon glyphicon-floppy-save"></i>
    </button>
    <button class="btn btn-default" id="add" data-backdrop="false" data-url="${basePath}/auth/module/addModuleView" href="#addModuleModal" data-toggle="modal">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
    <button class="btn btn-default" id="edit" data-backdrop="false" data-url="${basePath}/auth/module/updateModuleView" href="#updateModuleModal" data-toggle="modal">
        <i class="glyphicon glyphicon-edit"></i>
    </button>
    <button type="button" class="btn btn-default" id="delete">
        <i class="glyphicon glyphicon-remove-circle"></i>
    </button>
</div>
<table id="moduleList" data-toggle="table" data-url="${basePath}/auth/module/getModuleList" data-show-header="true" data-show-refresh="true" data-show-columns="false" data-pagination="true" data-side-pagination="server" data-page-list="[10,20]" data-height="520" data-show-export="true"  data-show-paginationSwitch="true" data-pagination-detail-h-align="left" data-pagination-h-align="right" data-click-to-select="true"
data-toolbar="#toolbar">
    <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="id" data-visible="false">id</th>
            <th data-field="parentId" data-visible="false">parentId</th>
            <th data-field="moduleName" data-sortable="true" data-editable="false">模块名称</th>
            <th data-field="name" data-sortable="false">名称(国际化)</th>
            <th data-field="indexNum" data-sortable="false">序号</th>
            <th data-field="target" data-sortable="false">Target</th>
			<th data-field="parentName">父模块名称</th>
			<th data-field="creater" data-sortable="false" >创建人</th>
            <th data-field="createTime" data-sortable="false" >创建日期</th>
            <th data-field="updater" data-sortable="false">更新人</th>
            <th data-field="updateTime" data-sortable="false">更新日期</th>
        </tr>
    </thead>
</table>

<script>

    $("#moduleList").bootstrapTable({
       height:$(window).height()-130
    });
    $(function() {
        
        //搜索事件
        $("#search").on("click", function() {
            search();
        });
        
        function search() {
            var $table = $("#moduleList");
            $.post("${basePath}/auth/module/getModuleList", {
                limit: 10,
                offset: 0,
                order: "desc",
                sort: 'userName'
            }, function(res) {
                $table.bootstrapTable("getOptions").pageNumber = 1; //默认排序从第一页开始
                $table.bootstrapTable('load', res);
            });
        }
        //排序事件
        $("#moduleList").on('sort.bs.table', function(name, order) {
            $(this).bootstrapTable("getOptions").pageNumber = 1; //默认排序从第一页开始
        });

        //添加模块
        $("#add").on("click",function(){
		    $("#addModuleModal").load($(this).attr("data-url"));
		    $('#addModuleModal').on('hidden.bs.modal', function (e) {
			   search();
			})
        });
        
        //更新模块
        $("#edit").on("click", function() {
            var data = $("#moduleList").bootstrapTable("getSelections");
            if (data.length > 1||data.length<1) {
                new $.flavr({
                    animateEntrance: "rollIn",
                    animateClosing: "rollOut",
                    content: '请选择一条记录',
                    autoclose: true,
                    timeout: 3000
                });
                $('#updateModuleModal').modal({backdrop:false});//去掉蒙板
                return;
            }else{
                $("#updateModuleModal").load($(this).attr("data-url"));
			    $('#updateModuleModal').on('hidden.bs.modal', function (e) {
				   search();
				});
            }
        });
        
        //删除模块
        $("#delete").on("click", function() {
            var datas = $("#moduleList").bootstrapTable("getSelections");
            var ids = "";
            var i = 0;
            if (datas.length < 1) {
                new $.flavr({
                    animateEntrance: "rollIn",
                    animateClosing: "rollOut",
                    content: '请选择一条记录',
                    autoclose: true,
                    timeout: 3000
                });
                return;
            }
            for (i = 0; i < datas.length; i++) {
                ids += datas[i].id + ",";
            }
            $.ajax({
                url: '${basePath}/auth/module/deleteModule?ids=' + ids,
                method: 'post',
                dataType: 'json',
                complete: function(jqXHR, textStatus) {
                    search();
                }
            });
        });
    })
</script>