<ol class="breadcrumb" style="margin-bottom:2px;">
    <li><a href="#">首页</a>
    </li>
	<li><a href="#">权限管理</a>
    </li>
    <li><a href="#">模块管理</a>
    </li>
    

</ol>

<!-- Modal -->
<div class="modal fade text-center" id="addModuleModal"></div>
<div class="modal fade text-center" id="updateModuleModal"></div>
<div id="toolbar" class="toolbuttonbar">
    <button type="button" class="btn btn-default" id="save">
        <i class="glyphicon glyphicon-floppy-save"></i>
    </button>
    <button class="btn btn-default" id="add" data-backdrop="false" data-url="${basePath}/auth/module/addModuleView" href="#addModuleModal" data-toggle="modal">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
    <button class="btn btn-default" id="edit" data-backdrop="false" data-url="${basePath}/auth/module/updateModuleView" href="#updateModuleModal" data-toggle="modal">
        <i class="glyphicon glyphicon-edit"></i>
    </button>
    <button type="button" class="btn btn-default" id="delete">
        <i class="glyphicon glyphicon-remove-circle"></i>
    </button>
</div>
<table id="moduleList">
</table>

<script>
    $(function() {
    
       /****************右方树型表格**************************/
		$('#moduleList').treegrid({
			url:"${basePath}/auth/module/getModuleList",
			method: 'post',
			width: '100%',
			height: 500,
			nowrap: true,
			idField: 'id',
			treeField: 'moduleName',
			singleSelect: true,
			toolbar:'#toolbar',
			columns: [[
				{
					title:'模块名称', 
				 	field:'moduleName',
				 	width: "15%",
				 	halign:'center'
				},
				{
					title:'indexNum', 
					field:'indexNum', 
					width: "15%",
					halign:'center'
				},
				{
					title:'target', 
					field:'target', 
					width: "10%",
					halign:'center'
				},
				{
					title:'name', 
					field:'name', 
					width: "10%",
					halign:'center'
				}
			]]
		});
    })
</script>