<ol class="breadcrumb" style="margin-bottom:2px;">
    <li><a href="#">#springMessage("home")</a>
    </li>
    <li><a href="#">#springMessage("home.framework")</a>
    </li>
</ol>
<div style="margin-left:20px;margin-right:10px;">
<div class="portal">
<h3>前端</h3>
<div class="portalPanel">
  <h3>jQuery</h3>
</div>
<div class="portalPanel">
  <h3>Bootstrap</h3>
</div>
<div class="portalPanel">
  <h3>EasyUI</h3>
</div>
<div class="portalPanel">
  <h3>BootstrapTable</h3>
</div>
<div class="portalPanel">
  <h3>Velocity</h3>
</div>
<div class="portalPanel">
  <h3>插件</h3>
</div>
<div class="portalPanel">
  <h3>...</h3>
</div>
</div>
<div class="portal">
<h3>后端</h3>
<div class="portalPanel">
  <h3>Hibernate(ORM)</h3>
</div>
<div class="portalPanel">
  <h3>Spring(IOC容器)</h3>
</div>
<div class="portalPanel">
  <h3>Spring MVC(MVC框架)</h3>
</div>
<div class="portalPanel">
  <h3>Activiti(工作流引擎)</h3>
</div>
<div class="portalPanel">
  <h3>待续</h3>
</div>
</div>
</div>

