   <div class="modal-dialog" style="display: inline-block; width: auto;">
            <div class="modal-content">
                <div class="modal-header text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="addRoleModalLabel">添加角色</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="addRoleName">角色名</label>
                            <input type="text" class="form-control" id="addRoleName" btvd-type="mail" btvd-class='btvdclass' btvd-err="data-邮箱格式不正确！">
                        </div>
                        <div class="form-group">
                            <label for="addRoleRemark">角色描述</label>
                            <input type="text" class="form-control" id="addRoleRemark" btvd-type="mail" btvd-class='btvdclass' btvd-err="data-邮箱格式不正确！">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-success" id="addRole">添加</button>
                </div>
            </div>
        </div>

        <script>
            $(function() {
                $("#addRole").on("click", function() {
                    var obj = new Object();
                    obj.name = $("#addRoleName").val();
                    obj.remark = $("#addRoleRemark").val();
                    $.ajax({
                        url: '${basePath}/auth/role/addRole',
                        data: obj,
                        method: 'post',
                        dataType: 'json',
                        complete: function(jqXHR, textStatus) {
                            $("#addRoleModal").modal("hide");
                        }
                    });
                });
            });
        </script>