<ol class="breadcrumb" style="margin-bottom:2px;">
    <li><a href="#">首页</a>
    </li>
    <li><a href="#">权限管理</a>
    </li>
    <li><a href="#">角色分配</a>
    </li>
</ol>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <table id="roleList" data-toggle="table" data-single-select="true" data-url="${basePath}/auth/role/roleList?search" data-sort-name="name" data-sort-order="desc" data-show-header="true" data-height="300" data-click-to-select="true">
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="id" data-visible="false">id</th>
                        <th data-field="name" data-sortable="true" data-editable="false">角色名</th>
                        <th data-field="remark" data-sortable="true" data-editable="false">描述</th>
                    </tr>
                </thead>
            </table>
            <div style="margin-top:10px;text-align:right">
                <button class="btn btn-success" id="save" data-backdrop="false" data-url="${basePath}/auth/role/updateRoleView" href="#updateRoleModal" data-toggle="modal">
                    确定
                </button>
                <button class="btn btn-info" id="edit" data-backdrop="false" data-url="${basePath}/auth/role/updateRoleView" href="#updateRoleModal" data-toggle="modal">
                    重置
                </button>
            </div>

        </div>
        <div class="col-md-8">
            <table id="userList" data-toggle="table" data-url="${basePath}/auth/role/getUserListByRoleId?search=" data-response-handler="responseHandler" data-sort-name="userName" data-sort-order="desc" data-show-header="true" data-pagination="true" data-side-pagination="server" data-page-list="[10,20]" data-height="500" data-show-paginationSwitch="true" data-pagination-detail-h-align="left" data-pagination-h-align="right" data-click-to-select="true">
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="id" data-visible="false">id</th>
                        <th data-field="userName" data-sortable="true" data-editable="false">用户名</th>
                        <th data-field="gender" data-sortable="true" data-formatter="formatGender">性别</th>
                        <th data-field="creater" data-sortable="true">创建人</th>
                        <th data-field="createTime" data-sortable="true">创建日期</th>
                        <th data-field="updater" data-sortable="true">更新人</th>
                        <th data-field="updateTime" data-sortable="true">更新日期</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script>
    
    var $table = $('#userList');
    var selections = [];
    $(function() {

        $("#roleList").bootstrapTable().on("click-row.bs.table", function(e, row, $element) {
            var options = $("#userList").bootstrapTable("getOptions");
            selections = [];
            options.pageNumber = 1;
            options.url = "${basePath}/auth/role/getUserListByRoleId?search=&roleId=" + row.id;
            $("#userList").bootstrapTable("refresh", {
                query: {
                    offset: 0
                }
            });
        });

        $("#userList").bootstrapTable().on("load-success.bs.table", function(e, data) {
            var roleId = $("#roleList").bootstrapTable("getSelections");
            if (!roleId || roleId.length == 0) {
                return;
            }
            var rows = data.rows;
            for (var index = 0; index < rows.length; index++) {
                if (rows[index].selected == true) {
                    $("#userList").bootstrapTable("check", index)
                }
            }

        });
        $("#userList").bootstrapTable().on("check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table",function(){
            selections = $.merge(selections,getIdSelections());
            selections.sort();
            selections = $.unique(selections);
            console.info(selections);
        });
        
    });

    $("#save").on("click", function() {

        var roleId = $("#roleList").bootstrapTable("getSelections")[0].id;
        if (!roleId) {
            return;
        }
        var userList = $("#userList").bootstrapTable("getSelections");
        var userIds = new Array();
        for (var i = 0; i < userList.length; i++) {
            userIds.push(userList[i].id);
        }
        $.ajax({
            url: '${basePath}/auth/role/updateRoleToUserRel?roleId=' + roleId + "&userIds=" + selections,
            method: 'post',
            dataType: 'json',
            complete: function(jqXHR, textStatus) {
                new $.flavr({
                    animateEntrance: "rollIn",
                    animateClosing: "rollOut",
                    content: '分配成功',
                    autoclose: true,
                    timeout: 3000
                });
            }
        });

    });

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function(row) {
            return row.id
        });
    }

    function responseHandler(res) {
        $.each(res.rows, function(i, row) {
            row.state = $.inArray(row.id, selections) !== -1;
        });
        return res;
    }
   
</script>